env
logs
*.log
*.pot
*.pyc
*.swp
__pycache__/
documentation/build
.DS_Store
.idea
build/celerybeat-schedule
build/djcelery.schedulers.DatabaseScheduler
docs/build
*.dat
.data
data/
celerybeat-schedule
*.pid
Icon?
tags
.coverage
htmlcov/
